:root {
    font-size: 16px;
}

* {
    text-align: center;
    margin: 0;
    margin-bottom: 0.25rem;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

p {
    font-size: 1.25rem;
}

.axis-settings {
    width: 4rem;
}

#note {
    color: grey;
    font-size: 1rem;
}

.expression-input {
    width: 20rem;
    height: 2rem;
    text-align: left;
}
.expression-input::placeholder {
    text-align: left;
}

.solution-input {
    width: 3rem;
    text-align: left;
}

.solution-input::placeholder {
    text-align: left;
}

#canvas {
    border: 2px solid black;
    image-rendering: pixelated;
}